* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0f172a;
  color: white;
  scroll-behavior: smooth;
}

/* Navbar */
header {
  background: #020617;
  padding: 15px 50px;
  position: fixed;
  width: 100%;
  top: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

nav a:hover {
  color: cyan;
}

/* Hero */
.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #1e293b, #020617);
  text-align: center;
}

.hero h1 span {
  color: cyan;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 15px;
  background: cyan;
  color: black;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background: white;
}

/* Sections */
.section {
  padding: 100px 50px;
  text-align: center;
}

/* Skills */
.skills-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  padding: 20px 40px;
  background: #1e293b;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.1);
  background: cyan;
  color: black;
}

/* Projects */
.projects-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.project-card {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
  transition: 0.3s;
}

.project-card:hover {
  transform: translateY(-10px);
  background: cyan;
  color: black;
}

/* Contact */
form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
  gap: 10px;
}

input, textarea {
  padding: 10px;
  border: none;
  border-radius: 5px;
}

/* Footer */
footer {
  background: deeppink;
  padding: 20px;
  text-align: center;
  margin-top: 50px;
}

/* Responsive */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
  }

  .projects-container {
    flex-direction: column;
    align-items: center;
  }
}